<section class="wrapbadgepage">
  <section class="holderbadgepage">
    <section class="navbar">

      <a href="/users/show"><img src="/images/logo-01.png" class="navlogo"></a>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "signoutnav" %>
      <a href="users/profile"><section class="avatarnav"></section></a>

    </section>



      <br />
      <br />
      <br />
      <br />
      <br />






    </section>

  </section>
</section>