<head>
<!-- FONT -->

<script src="//use.typekit.net/mqc5gvv.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" type="text/css" href="index.css">
  <title>Rewardr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<section class="wrap">

	<section class="holder">

		<section class="nav">
		</section>

		<section id="caption">
		Reward your employees
		</section>

		<section id="signupbutton">
		Sign up with LinkedIn
		</section>

	</section>

</section>