<head>

	<title>Rewardr</title>
	<link rel="stylesheet" type="text/css" href="index.css">

	<!-- FONT -->
	<script src="//use.typekit.net/mqc5gvv.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>


 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<section class="wrap">

	<section class="holder">

		<section class="nav">

			<img id="logo" src="/images/logo-01.png">

			<a href="users/sign_in">
				<section id="login">
					<p id="logintext"><span class="small">Existing User</span> Login</p>
				</section>
			</a>

			<a href="users/sign_up">
				<section id="signup">
					<p id="signuptext"><span class="small">New User</span> Sign Up</p>
				</section>
			</a>

		</section>

		<section id="caption">
			Reward your employees
		</section>

		<h3 id="caption2">
			Get an unlimited private awarding system and one-to-one appreciations, forever.<br>
			Private team plans begin from £5 per user per month.
		</h3>

		<a href="users/auth/linkedin">
			<section id="linkedinbutton">
				<img id="linkedin" src="/images/linked-01.png">
				<p id="linkedintext">Sign in with LinkedIn</p>
			</section>
		</a>

		<h3 id="terms">
			By signing up you agree to our <u>Terms and Conditions</u>
		</h3>

	</section>

</section>