<section class="flash">
  <section id="notice"><%= notice %></section>
  <section id="alert"><%= alert %></section>
</section>
<section class="wrap">
	<section class="holder">
		<section class="nav">

			<a href="https://github.com/HatStephens/FATS_Rewardr"><img id="logo" src="/images/logo-01.png"></a>

			<a href="users/sign_in">
				<section id="login">
					<p id="logintext"><span class="small">Existing User</span> Login</p>
				</section>
			</a>

			<a href="users/sign_up">
				<section id="signup">
					<p id="signuptext"><span class="small">New User</span> Sign Up</p>
				</section>
			</a>

		</section>

		<section id="caption">
			Reward your employees
		</section>

		<h3 id="caption2">
			Get an unlimited private rewarding system and one-to-one appreciations, forever.<br>
			Private team plans begin from £5 per user per month.
		</h3>

		<section class="link">
			<a href="users/auth/linkedin">
				<section id="linkedinbutton" href="users/auth/linkedin">
					<img id="linkedinimg" src="/images/linked-01.png">
					<section id="linkedintext">Sign in with LinkedIn</section>
				</section>
			</a>
		</section><br><br>

		<section id="terms1">By signing up you agree to our <u>Terms and Conditions</u></section>
	</section>
</section>