<head>
<!-- FONT -->

<script src="//use.typekit.net/mqc5gvv.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" type="text/css" href="index.css">
  <title>Rewardr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<section class="wrap">

	<section class="holder">

		<section class="nav">

			<img id="logo" src="/images/logo-01.png">

		</section>

		<section id="caption">
		Reward your employees
		</section>

		<h3 id="caption2">Get an unlimited private awarding system and one-to-one appreciations, forever. Private team plans begin from £5 per user per month.</h3>

		<section id="signupbutton">
		<img id="linkedin" src="/images/linked-01.png">
		<p id="signuptext">Sign up with LinkedIn</p>
		</section>

	</section>

</section>