body {
  height: 2000px
  width: 100%;
}

/*===============
  PAGE LAYOUT
================*/

.wrapbadgepage {
  width: 100%;
  height: 100%;
/*  position: fixed;*/
  background-position: -100px -500px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1800px 1800px;
  /*position: fixed;*/
  z-index: 0;
  background-color: #FFF8EE;
}

.holderbadgepage {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
}

.main-body {
  /*margin-top: 72px;*/
  width: 100%;
  height: 100%;
  /*position: fixed;/*/
}

.main-preset {
  width: 40%;
    margin-right: 5%;
  margin-left: 5%;
  height: 100%;
  display: inline-block;
  float: left;
  /*position: fixed;*/
}

.main-custom {
  width: 40%;
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  height: 100%;
  float: right;
    margin-top: 50px;
}

/*==============
    NAVBAR
==============*/

.navbar {
  position: fixed;
  width: 100%;
  background-color: #2F4F4F;
  height: 52px;
  z-index: 99;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: #264040;
  height: 60px;
}

.navlogo {
  padding: 13px 0 0 10px;
  height: 22px;
  opacity: 0.7;
  margin-top: 4.5px;
  margin-left: 20px;
}

.navlogo:hover {
  opacity: 1;
}

.signoutnav {
  text-decoration:none;
  display: inline;
  float: right;
  color: white;
  font-size: 0.8em;
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 19px 10px 0 10px;
  opacity: 0.5;
  margin-right: 20px;
  margin-top: 4px;
  vertical-align: middle;
}

.signoutnav:hover {
  opacity: 1;
}

.my-edit-profile {
  width: 20px;
}

.avatar-square {
  float: right;
  display: inline;
  position: relative;
}

.avatarnav {
  position: relative;
  display: inline;
  float: right;
  height:30px;
  width: 30px;
  background-color: #9370DB;
  margin: 12px 0 0 0;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  opacity: 0.7;
  margin-right: 20px;
}

.avatarnav:hover {
  opacity: 1;
}

/*======================
      REWARD PRESET
======================*/
.selection-form-custom {
  position: relative;
}

.preset-holder {
  width: 500px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 118px;
  color: #2F4F4F;
  background-color: white;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: inline-block;
}

#built_in_badges {
  position: relative;
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.reward {
  border-radius: 6px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.reward-heading {
  color: white;
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 10px;
  background-color: #2F4F4F;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 24px;
}

.reward img {
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 100px;
}

.employee {
  /*color: white;*/
  color: #2F4F4F;
  font-size: 18px;
  margin: 15px;
}

.dropdown {
  /*background: black;*/
  /*padding-left: 30px;*/
  font-size: 18px;
  /*width: 500px;*/
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.submit {
  font-size: 1.5em;
  position: relative;
  top: 190px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submit_style {
    width: 200px;
    height: 32px;
    border-style: none;
    color: white;
    background-color: #2F4F4F;
    font-size: 18px;
    margin: 20px;
    border-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #264040;
    outline: none;
  }

.button {
  font-size: 12px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 12px;
  display:block ;
  background: #4C7F7F;
  color:#ffffff ;
  padding:6px ;
  border:0px ;
  cursor:pointer ;
  border-radius: 24px;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*======================
      REWARD CUSTOM
======================*/

.custom-holder {
  border-width: 0px;
  width: 500px;
  height: 420px;  
  color: #2F4F4F;
  background-color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 70px;
  display: inline-block;
}

#custom_badges {
  text-align: center;
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
}

.custom-heading {
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  padding: 10px;
  color: white;
  background-color: #2F4F4F;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
}

.dropdown {
  width: 300px;
}

.custom-badges-form.employee {
  color: white;
  font-size: 1px;
}

.custom-badges-form input[type=text] {
  padding: 5px;
}

.submit1 {
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.boxstyle {
  border-radius: 6px;
  border-color: #E7E7E7;
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 4px;
  width: 190px;
  margin-top: 50px;
  position: relative;
  margin-left: 40px;
}