/*===============
  PAGE LAYOUT
================*/

.wrapbadgepage {
  width: 100%;
  height: 100%;
  position: fixed;
  background-position: -100px -500px;
  display: block;
  background-repeat: no-repeat;
  background-size: 1800px 1800px;
  position: fixed;
  z-index: 0;
  background-color: #FFF8EE;
}

.holderbadgepage {
  height: 100%;
  width: 90%;
  z-index: 1;
  position: fixed;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.main-body {
  margin-top: 62px;
  width: 90%;
  height: 100%;
  position: fixed;
}

.main-preset {
  width: 62.7%;
  height: 100%;
  position: fixed;
}

.main-custom {
  width: 30.7%;
  height: 100%;
  float: right;
}

/*==============
    NAVBAR
==============*/

.navbar {
  position: fixed;
  width: 100%;
  background-color: #2F4F4F;
  height: 52px;
  z-index: 99;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: #264040;
  height: 60px;
}

.navlogo {
  padding: 13px 0 0 10px;
  height: 22px;
  opacity: 0.7;
  margin-top: 4.5px;
  margin-left: 20px;
}

.navlogo:hover {
  opacity: 1;
}

.signoutnav {
  text-decoration:none;
  display: inline;
  float: right;
  color: white;
  font-size: 0.8em;
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 19px 10px 0 10px;
  opacity: 0.5;
  margin-right: 20px;
  margin-top: 4px;
  vertical-align: middle;
}

.signoutnav:hover {
  opacity: 1;
}

.avatarnav {
  display: inline;
  float: right;
  height:30px;
  width: 30px;
  background-color: #9370DB;
  margin: 12px 0 0 0;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  opacity: 0.7;
  margin-right: 20px;
}

.avatarnav:hover {
  opacity: 1;
}

/*======================
      REWARD PRESET
======================*/
.selection-form-custom {
  position: relative;
}

.reward-heading {
  padding-top: 10px;
}

.preset-holder {
  width: 99%;
  height: 100%;
  margin-top: 0.15%;
  background-color: #2F4F4F;
}

#built_in_badges {
  position: relative;
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.reward {
  border-width: 2px;
  border-color: white;
  border-style: solid;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.reward-heading {
  color: white;
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 3em;
}

img {
  margin-right: auto;
  margin-left: auto;
  width: 249px;
  height: 249px;
}

.employee {
  color: white;
  font-size: 2em;
  margin-top: 15px;
}

.dropdown {
  color: white;
  font-size: 2em;
  width: 200px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.submit {
  font-size: 1.5em;
  position: relative;
  top: 350px;
  height: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-size: 1.5em;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  height: 24px;
  display:block ;
  background:#bc2846 ;
  color:#ffffff ;
  padding:6px ;
  border:0px ;
  cursor:pointer ;
}

.button:hover {
  background:#85001b
}

.button:active {
  background:#200007
}

/*======================
      REWARD CUSTOM
======================*/

.custom-holder {
  width: 100%;
  height: 100%;
  margin-right: 10%;
  margin-top: 0.15%;
  background-color: #2F4F4F;
}

.custom-heading {
  padding-top: 10px;
}

#custom_badges {
  text-align: center;
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-font-smoothing: antialiased;
}

.custom-heading {
  color: white;
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2.8em;
}

.custom-badges-form.employee {
  color: white;
  font-size: 1.8em;
}

.custom-badges-form#name {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.custom-badges-form input[type=text] {
  padding: 5px;
}

.submit1 {
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em;
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}