#profile-flash-notice {
  color: black;
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-font-smoothing: antialiased;
}

.h2-header-title, #h2-edit-profile-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
    font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #2F4F4F;
  color: white;
  border-radius: 6px;
}

#h1-profile-page-name {
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #264040;
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
}

#h2-profile-page-name {
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #264040;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}

#admin-management {
  display: none;
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #264040;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  }

section#recent-news {
  flex-grow: 5;
  padding-left: 50px;
    font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 500px;
  padding-bottom: 20px;
}

section#my-badges-archive {
  flex-grow: 5;
    font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 20px;
}

#profile-page-container {
  display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 50px;
}

.profile-page-information-box {
  padding-left: 20px;
  font-family: "proxima-nova-soft",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #2F4F4F;
}

#edit-profile-form-box {
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  width: 70%;
  margin: 4% auto;
  text-align: center;
}

.li-award-entry {
  padding: 10px;
  color: #2F4F4F;
}

.update-button {
  color: #2F4F4F;
}

.submitbutton {
  background-color: #264040;
  border-style: none;
  border-radius: 6px;
  border-style: dotted, #2F4F4F;
  width: 131px;
  border-bottom-style: #2F4F4F;
}

#logo-1 {
  height: 12px;
}

.rewardiconprofile {
  height: 27px;
  width: 16px;
  /*float: left;*/
  margin-right: 20px;
  /*margin-top: 20px;*/
}