* {font-family: "proxima-nova-soft",sans-serif;  -webkit-font-smoothing: antialiased;}

.dashboard {
  border: black 2px solid;
  width: 1800px;
  height: 1800px;
  z-index:2;
  background-color: salmon;
}

.menu {
  border: black 2px solid;
  float: left;
  height: 100%;
  width: 15%;
  z-index:1;
  background-color: yellow;
}