body {
  background-color: #fff8ee;
}

h1 {
    padding-top: 8px;
}

h2 {
  padding-top: 10px;
  font-size: 24px;
  margin-right: 20px;
}

h3 {
  margin-left: 20px;
  font-size: 12px;
  padding-top: 7px;
}

h4 {
  padding-top: 20px;
  font-size: 24px;
  margin-right: 20px;
}

p {
  margin-right: 20px;
  font-size: 12px;
  padding: 2px;
}

#mainbody {
  position: relative;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#tileswrap {
  position: relative;
  /*margin-left: 50%;*/
  /*left: -645px;*/
  /*margin-top: 20%;*/
  /*height: -307.5px;*/
  /*The above CSS was commented out by Steve on 11th Dec 2014 to allow user to see the Dashboard. It is not centred though.*/
}

#topwrap {
  position:relative;
  width: 1290px;
    height: 185px;
}

#middlewrap {
  position: relative;
  width: 1290px;
  height: 185px;
}

#bottomwrap {
  position: relative;
  width: 1290px;
  height: 185px;
}

.rewardicon {
  height: 36.1px;
  width: 21.75px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

/*              */
/*              */
/* TILE CLASSES */
/*              */
/*              */

.infotile {
  width: 245px;
  margin-left: 50%;
  left: -107.5px;
  position: absolute;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.textcenter {
  width: 250px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.stringformat {
  font-size: 10px;
}

.tileheader {
  background-color: rgba(114, 127, 127, 0.4);
  width: 245px;
  left: 430px;
  height: 32px;
  text-align: center;
  color: white;
  font-family: "proxima-nova-soft",sans-serif;  -webkit-font-smoothing: antialiased;
  position: relative;
  margin-left: 58px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.topnumber {
  margin-top: 10px;
}

/*                   */
/*                   */
/* TOP TILES CLASSES */
/*                   */
/*                   */

/* TILE 6 */

.topnumbertiles {
  width: 100%;
  height: 70px;
  position: relative;
  color: white;
  background-color: #2F4F4F;
  font-family: "proxima-nova-soft",sans-serif;  -webkit-font-smoothing: antialiased;
  font-size: 50px;
  text-align: right;
}

.toptexttiles {
  height: 31px;
  width: 100%;
  background-color: #264040;
  font-family: "jaf-domus-titling-web",sans-serif;  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  color: white;
  vertical-align: middle;
  font-size: 14px;
  position: absolute;
}

/*      TILE 1      */

#tile1 {
  position: absolute;
  left: 0px;
  width: 330px;
  height: 113px;
  display: inline-block;
}

#tile2 {
  position: absolute;
  left: 430px;
  height: 113px;
  width: 330px;
  display: inline-block;
}

/*      TILE 3      */

#tile3 {
  position: absolute;
  left: 860px;
  height: 113px;
  width: 330px;
  display: inline-block;
}

/*                     */
/*                     */
/* MIDDLE TILE CLASSES */
/*                     */
/*                     */

/*       CLASSES       */

.middlebadgetiles {
  width: 100%;
  height: 70px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-family: "proxima-nova-soft",sans-serif;
  font-size: 24px;
  text-align: right;
  background-color: #2F4F4F;
}

.middletexttiles {
  height: 31px;
  width: 100%;
  background-color: #264040;
  font-family: "jaf-domus-titling-web",sans-serif;  font-size: 18px;
  text-align: left;
  color: white;
  position: absolute;
  vertical-align: middle;
  font-size: 14px;
}

/*      TILE 4      */

#tile4 {
  position: relative;
  left: 0px;
  height: 113px;
  width: 330px;
  display: inline-block;
}

/*      TILE 5      */

#tile5 {
  position: absolute;
  left: 430px;
  height: 113px;
  width: 330px;
  display: inline-block;
}

/* TILE 6 */

#tile6 {
  position: absolute;
  left: 860px;
  height: 113px;
  width: 330px;
  display: inline-block;
}

/*                    */
/*                    */
/*    BOTTOM TILES    */
/*                    */
/*                    */

/*      CLASSES       */

.bottombadgetiles {
  width: 100%;
  height: 70px;
  position: relative;
  color: white;
  font-family: "proxima-nova-soft",sans-serif;
  font-size: 24px;
  text-align: right;
  background-color: #2F4F4F;
}

.bottomtexttiles {
  height: 31px;
  width: 100%;
  background-color: #264040;
  font-family: "proxima-nova-soft",sans-serif;  font-size: 18px;
  text-align: left;
  color: white;
  vertical-align: middle;
  font-size: 24px;
}

#tile7 {
  position: absolute;
  left: 0px;
  height: 113px;
  width: 330px;
  display: inline-block;
}

/*      TILE 8      */

#tile8 {
  position: absolute;
  left: 430px;
  height: 113px;
  width: 330px;
  display: inline-block;
}

/*      TILE 9      */

#tile9 {
  position: absolute;
  left: 860px;
  height: 113px;
  width: 330px;
  display: inline-block;
}

@media screen and (max-width: 1200px) {



}