<!DOCTYPE html>
<html>
<head>
  <title>RewardR</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/mqc5gvv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <%= yield %>

</body>
</html>
